/*THIS IS STYLING FOR REGISTER.php PAGE*/
.form-area1 form {
	margin: 0 25% 0 25%;
	background-color: black;
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding: 20px;
	
}